<div class="panel panel-info">
  <div class="panel-heading">
    <h1>{{question.question}}</h1> by {{question.name}}<br>
  </div>
  <div class="panel-body">
    <p>{{question.notes}}</p>
  </div>
</div>
