.page-header {
  font-style: oblique;
  font-family: "Arial Black", Gadget, sans-serif;
  padding-left: 30px;
}

.navbar-brand {
  padding-left: 30px;
}

.panel-body {
  background-color: lightgrey;
}

ul {
  list-style-type: none;
}

html body{
  background: linear-gradient(90deg, #FFF, #E0CCF5);
  min-height: 100%;
}

.container {
  height: 100%;
}
