{{question-detail  saveAnswer="saveAnswer" question=model destroyQuestion="destroyQuestion"}}
<br>
<br>
{{update-question question=model update="update"}}
<button {{action 'delete' model}}>Delete this Question</button>
